# Terraform
.terraform/
.terraform.lock.hcl.bak
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

# Variables sensibles / archivos locales
*.tfvars
*.tfvars.json
!terraform.tfvars.example

# Credenciales
*.pem
.aws/

# Archivos de sistema/editor
.DS_Store
.vscode/
*.swp